.searchDiv {
  width: 100 vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  padding-left: 100px;
  background-color: lightblue;
  border: 0.5em solid lightskyblue;
}

.mealsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightblue;
  
}


.searchInput {
  margin-top: 0.5em;
}
