.mealsForm {
    padding-top: 18vh;
    margin-top:0;
    margin-left: 3em ;
    margin-right: 3em;
    display: flex;
    flex-direction: column;
}

.feedbackMessageError {
    color: red;
}

.feedbackMessageSuccess {
    color: green
}