.addMealPage{
    background-color: lightblue;
    height: 83vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.mealsForm {
    margin-top:0;
    margin-left: 6em ;
    margin-right: 6em;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.feedbackMessageError {
    color: red;
}

.feedbackMessageSuccess {
    color: green
}

.button{
   background-color: lightsalmon;
   color: black;
}
