.footerDesign {
  height: 5vh;
  width: 100vw;
  background-color: lightsalmon;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: flex;
  left: 0;
  bottom: 0;
  right: 0;
}
