.detailImage{
    width: 30em;
    height: 30em;
    border-radius: 25%;
}

.detailCardDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.ingredientsDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.lefside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
