.detailImage{
    width: 30em;
    height: 30em;
    border-radius: 25%;
    padding-bottom: 1em ;
}

.detailCardDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    background-color: lightblue;
    padding-left: 3em;
    padding-right: 3em;
}

.ingredientsDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.lefside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.instructions{
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;
}

.detailPage {
    height: 88vh;
    background-color: lightblue;
}